table {
	font-size: 80%;
	border: 0px;
	border-spacing: 4px;
}

th {
	text-align: left;
	width: 30%;
}

.page_title {
	color: blue;
}

.table_title {
	font-size: 18px;
	font-weight: bold;
}

.table_item {
	font-size: 14px;
	font-weight: bold;
}

tr.tbl_head {
	font-size: 2px;
	background-color: #808080;
}

tr.tbl_body {
	font-size: 2px;
	background-color: #C0C0C0;
}